
div {
  width: 200px;
  height: 200px;
  display: flex;          
  align-items: center;
  color: white;
  position: absolute;     
}

/* First box */
.box1 {
  background-color: rgb(246, 20, 76);
  border: 10px solid black;
  padding: 20px;
  top: 50px;
  left: 50px;
}

/* Second box */
.box2 {
  background-color: rgb(17, 73, 215);
  border: 20px solid black;
  top: 310px;   /* moves it diagonally down */
  left: 310px;
}

/* Third box */
.box3 {
  background-color: rgb(253, 219, 23);
  border: 10px solid black;
  top: 550px;
  left: 550px;
}