<%- include('partials/header') %>

<main>
    <form action="/login" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
        <input type="submit" value="Submit" />
    </form>
</main>

<%- include('partials/footer') %>